services:
  mariadb:
    image: bitnami/mariadb:latest
    container_name: moddledb
    restart: unless-stopped
    environment:
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_CHARACTER_SET: utf8mb4
      MARIADB_COLLATE: utf8mb4_unicode_ci
    volumes:
      - mariadb_data:/bitnami/mariadb
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  moodle:
    image: bitnamilegacy/moodle:4.4
    container_name: moodle
    restart: unless-stopped
    ports:
      - "8888:8080"
      - "8443:8443"
    environment:
      MOODLE_DATABASE_HOST: ${DB_HOST}
      MOODLE_DATABASE_PORT_NUMBER: 3306
      MOODLE_DATABASE_USER: ${DB_USER}
      MOODLE_DATABASE_NAME: ${DB_NAME}
      MOODLE_DATABASE_PASSWORD: ${DB_PASSWORD}
      MOODLE_USERNAME: ${MOODLE_USER}
      MOODLE_PASSWORD: ${MOODLE_PASSWORD}
      MOODLE_EMAIL: ${MOODLE_EMAIL}
      MOODLE_SITE_NAME: "academy-sierrapablo-dev"
    volumes:
      - 'moodle_data:/bitnami/moodle'
      - 'moodledata_data:/bitnami/moodledata'
    depends_on:
      mariadb:
        condition: service_healthy

volumes:
  mariadb_data:
    driver: local
  moodle_data:
    driver: local
  moodledata_data:
    driver: local